::-webkit-scrollbar {
    display: none;
}
.bigone {
    height: 100%;
}
#song-slider {
    width: 100%;
    margin-top: -16px;
}
.controls {
    background-color: #B5B5B5;
}
paper-slider::shadow #sliderKnob {
    margin-left: -16px;
}
paper-slider::shadow #sliderContainer {
    width: 100%;
}
paper-slider::shadow .bar-container {
    left: 0;
}
.time-info {
    margin-top: -16px;
}
.time-info>span {
    margin: 5px;
    margin-bottom: -10px;
}
.playing-now {
    width: 100vw;
    height: 100vw;
    max-width: 80vh;
    max-height: 80vh;
    border: 1px solid grey;
    color: white;
    background-size: cover;
}
.playing-now span:first-of-type {
    font-weight: 300;
}
.playing-now span {
    font-size: 2em;
    font-weight: 100;
}
.song-details {
    min-width: 50%;
    min-height: 50%;
}
.darken {

    background-color: rgba(0,0,0,0.5);
}
paper-toast {
    top: 0px;
    bottom: auto !important;
}
.mini-song {
    transition: all linear 150ms;
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin: 3px;
    border: 1px solid grey;
    font-size: 0.7em;
    background-size: cover;
    color: white;
}
.mini-song.selected {
    border: 1px solid yellow;
}
.playlist-bar {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}
